.equalizer {
  display: inline-block;
  background-color: transparent;
  border: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  z-index: 5;
  width: 3rem;
  height: 3rem
}

.equalizer:focus, .equalizer:hover {
  cursor: default
}

.equalizer-span {
  display: inline-block;
  width: .8rem;
  background-color: #fff;
  position: absolute;
  bottom: 0
}

.eq1 {
  height: 1.3rem;
  left: 0;
  animation-name: shorteq;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: shorteq;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s
}

.eq2 {
  height: 1.5rem;
  left: 1rem;
  animation-name: talleq;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: talleq;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .17s;
  animation-delay: .17s
}

.eq3 {
  height: 1.3rem;
  left: 2rem;
  animation-name: shorteq;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  -webkit-animation-name: shorteq;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .34s;
  animation-delay: .34s
}

.a-button-add-radio {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  font-family: lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  height: 0;
  line-height: 1.2;
  overflow: hidden;
  padding: 0 0 100%;
  position: relative;
  text-align: center;
  width: 100%
}

.a-button-add-radio:before {
  border: .4rem dotted #fff;
  border-radius: .1rem;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%
}

.a-button-add-radio__body, .a-button-add-radio__text {
  display: -ms-flexbox;
  display: flex
}

.a-button-add-radio__body {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.a-button-add-radio .a-icon {
  margin: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: -webkit-transform .25s ease-in;
  transition: transform .25s ease-in;
  transition: transform .25s ease-in, -webkit-transform .25s ease-in;
  will-change: transform
}

.a-button-add-radio__text {
  margin-top: 2.4rem;
  white-space: nowrap
}

.a-button-add-radio:hover .a-icon {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg)
}

.m-radios-favorites-message {
  text-align: center
}

.m-radios-favorites-message__heading {
  font-family: montserrat, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 3.2rem auto
}

@media (min-width: 23.4375em) {
  .m-radios-favorites-message__heading {
    font-size: 1.4rem
  }
}

@media (min-width: 48em) {
  .m-radios-favorites-message__heading {
    font-size: 1.8rem
  }
}

@media (min-width: 48em) {
  .m-radios-favorites-message__actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
  }
}

@media (max-width: 47.9em) {
  .m-radios-favorites-message__actions-item:not(:last-child) {
    margin-bottom: 1.6rem
  }
}

@media (min-width: 48em) {
  .m-radios-favorites-message__actions-item {
    margin: 0 .8rem
  }
}

.m-radios-favorites-message__button {
  width: 20rem
}

.m-card-webradio-highlight__card {
  --card-gap: 0.8rem;
  --card-column-visual-w: 8rem
}

@media (max-width: 66.15em) {
  .m-card-webradio-highlight__card {
    --card-heading-margin: -0.4rem
  }
}

@media (min-width: 66.25em) {
  .m-card-webradio-highlight__card {
    --card-gap: 1.6rem;
    --card-column-visual-w: 12rem
  }
}

.m-card-webradio-highlight__description, .m-card-webradio-highlight__heading {
  padding-bottom: .4rem;
  padding-right: .6rem
}

@media (max-width: 66.15em) {
  .m-card-webradio-highlight__heading {
    font-size: 1.8rem
  }
}

@media (max-width: 66.15em) {
  .s-navbar-webradios {
    --navbar-spacing: 0
  }
}

@media (min-width: 48em) {
  .s-navbar-webradios {
    --navbar-spacing: 0.8rem
  }
}

.s-navbar-webradios .m-nav {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.s-navbar-webradios .m-nav__item {
  --nav-radio-item-margin: 0;
  margin: 0 var(--nav-radio-item-margin)
}

.s-navbar-webradios .m-nav__item:first-child, .s-navbar-webradios .m-nav__item:last-child {
  --nav-radio-item-margin: 0
}

@media (max-width: 35.9em) {
  .s-navbar-webradios .m-nav__item {
    -ms-flex-align: stretch;
    align-items: stretch
  }
}

@media (min-width: 48em) {
  .s-navbar-webradios .m-nav__item {
    --nav-radio-item-margin: 4.7rem
  }
}

.s-navbar-webradios .a-button {
  --button-bg-color: transparent;
  --button-bg-color-hover: transparent;
  --button-border-color: transparent;
  --button-border-color-hover: transparent;
  --button-color: #b3b3b3;
  --button-color-hover: #fff;
  --button-font-size: 1.2rem
}

@media (max-width: 35.9em) {
  .s-navbar-webradios .a-button {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 10rem
  }
}

@media (min-width: 48em) {
  .s-navbar-webradios .a-button {
    --button-font-size: 1.6rem
  }
}

.s-navbar-webradios .a-button--active {
  --button-color: #fff
}

@media (max-width: 35.9em) {
  .s-navbar-webradios .a-button .a-icon {
    margin-bottom: var(--button__icon-margin);
    margin-right: 0
  }
}

@media (max-width: 66.15em) {
  .s-navbar-webradios--skeleton .a-button {
    height: 6.8rem
  }
}

.sliderContainer--buttons {
  --slider-font-size: inherit
}

.sliderContainer--buttons .tns-controls [data-controls=next], .sliderContainer--buttons .tns-controls [data-controls=prev] {
  --slider-gradient-pos-left: 0;
  --slider-gradient-pos-right: 0;
  color: #fff
}

.sliderContainer--buttons .tns-controls [data-controls=next]:before, .sliderContainer--buttons .tns-controls [data-controls=prev]:before {
  z-index: 2
}

.sliderContainer--buttons .tns-controls [data-controls=next]:after, .sliderContainer--buttons .tns-controls [data-controls=prev]:after {
  background-image: linear-gradient(90deg, var(--slider-gradient-start), var(--slider-gradient-end));
  bottom: 0;
  content: "";
  left: var(--slider-gradient-pos-left);
  pointer-events: none;
  position: absolute;
  right: var(--slider-gradient-pos-right);
  top: 0;
  z-index: 1
}

.sliderContainer--buttons .tns-controls [data-controls=prev] {
  --slider-gradient-start: #1a1a1a;
  --slider-gradient-end: transparent;
  --slider-gradient-pos-right: -6.5rem;
  left: -1rem
}

.sliderContainer--buttons .tns-controls [data-controls=next] {
  --slider-gradient-start: transparent;
  --slider-gradient-end: #1a1a1a;
  --slider-gradient-pos-left: -6.5rem;
  right: -1rem
}

.sliderContainer--buttons .tns-controls [data-controls=next]:active, .sliderContainer--buttons .tns-controls [data-controls=next]:focus, .sliderContainer--buttons .tns-controls [data-controls=next]:hover, .sliderContainer--buttons .tns-controls [data-controls=prev]:active, .sliderContainer--buttons .tns-controls [data-controls=prev]:focus, .sliderContainer--buttons .tns-controls [data-controls=prev]:hover {
  color: grey;
  outline: none
}

.sliderContainer--buttons .tns-inner {
  font-size: 0
}

.sliderContainer--buttons .slider {
  font-size: var(--slider-font-size)
}

.sliderContainer--buttons .a-button:not(.a-button--outline-white) {
  --button-border-color: #fff
}

.sliderContainer--buttons .a-button:not(.a-button--outline-white):active, .sliderContainer--buttons .a-button:not(.a-button--outline-white):focus, .sliderContainer--buttons .a-button:not(.a-button--outline-white):hover {
  --button-bg-color-hover: #fff;
  --button-border-color-hover: #fff;
  --button-color-hover: #000
}

@media (max-width: 47.9em) {
  .l-grid-webradios {
    -ms-grid-columns:(minmax(0, 1fr)) [ 2 ];
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 2rem
  }

  .l-grid-webradios .grid-item {
    --gc: auto
  }
}

@media (min-width: 48em) {
  .l-grid-webradios {
    row-gap: 2.4rem;
  }
}

.page {
  overflow: hidden
}

.headerPage-container {
  background: 0 0;
  padding-top: 0;
  text-align: center
}

.contentSite {
  background-color: #1a1a1a;
  padding-top: .8rem
}

@media (min-width: 66.25em) {
  .contentSite {
    padding-top: 1.6rem
  }
}

.contentPage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.contentPage .container {
  margin-left: 0;
  margin-right: 0;
}

.container--fluid {
  padding-left: 1.6rem;
  padding-right: 1.6rem
}

@media (min-width: 48em) {
  .container--fluid {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

.container--light-grey, .container--white {
  color: #000
}

.sliderContainer--buttons {
  margin-bottom: 4.8rem
}

@media (max-width: 47.9em) {
  .sliderContainer--buttons {
    margin-left: -1.6rem;
    margin-right: -1.6rem
  }

  .sliderContainer--buttons .slider {
    padding-left: 1.6rem
  }
}

@media (min-width: 48em) and (max-width: 66.15em) {
  .sliderContainer--buttons {
    margin-left: -2.4rem;
    margin-right: -2.4rem
  }

  .sliderContainer--buttons .slider {
    padding-left: 2.4rem
  }

  .sliderContainer--buttons .slider-item:last-child {
    padding-right: 2.4rem
  }
}

.headerMain--webradios [class^=heading] {
  font-size: 2rem
}

@media (min-width: 48em) {
  .headerMain--webradios [class^=heading] {
    font-size: 2.8rem
  }
}

.l-header-webradio {
  -ms-flex-order: 1;
  order: 1
}

.l-header-webradio [class^=description], .l-header-webradio [class^=heading] {
  margin-left: auto;
  margin-right: auto
}

.l-header-webradio [class^=heading] {
  margin-bottom: .4rem;
  max-width: 110rem
}

.l-header-webradio [class^=description] {
  max-width: 100rem
}

@media (min-width: 48em) {
  .container-fluid {
    padding-left: 3.2rem;
    padding-right: 3.2rem
  }
}

@media (min-width: 81.25em) {
  .container-fluid {
    padding-left: 6.4rem;
    padding-right: 6.4rem
  }
}

.description-webradio {
  text-align: center;
  margin: 2rem 0;
  color: #ccc
}

.tns-outer {
  padding: 0 !important
}

.tns-outer [hidden] {
  display: none !important
}

.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer
}

.tns-slider {
  transition: all 0s
}

.tns-slider > .tns-item {
  box-sizing: border-box
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal
}

.tns-horizontal.tns-no-subpixel:after {
  content: "";
  display: table;
  clear: both
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%
}

.tns-gallery, .tns-no-calc {
  position: relative;
  left: 0
}

.tns-gallery {
  min-height: 1px
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  transition: opacity 0s, -webkit-transform 0s;
  transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s, -webkit-transform 0s
}

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important
}

.tns-gallery > .tns-moving {
  transition: all .25s
}

.tns-autowidth {
  display: inline-block
}

.tns-lazy-img {
  transition: opacity .6s;
  opacity: .6
}

.tns-lazy-img.tns-complete {
  opacity: 1
}

.tns-ah {
  transition: height 0s
}

.tns-ovh {
  overflow: hidden
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em
}

.tns-transparent {
  opacity: 0;
  visibility: hidden
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0
}

.tns-fadeOut, .tns-normal {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1
}

.tns-vpfix {
  white-space: nowrap
}

.tns-vpfix > div, .tns-vpfix > li {
  display: inline-block
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden
}

.tns-t-ct {
  width: 2333.33333%;
  position: absolute;
  right: 0
}

.tns-t-ct:after {
  content: "";
  display: table;
  clear: both
}

.tns-t-ct > div {
  width: 1.42857%;
  height: 10px;
  float: left
}
